[Unit]
Description=Let's Encrypt to P12 Converter Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cert_monitor.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
