[Unit]
Description=Ingest Movies to Radarr
After=network.target

[Service]
User=root
Group=root

Type=simple
ExecStart=/bin/bash /usr/local/bin/DW_ingest_radarr.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
