[Unit]
Description=Run MySQL Restore weekly

[Timer]
# Runs every Sunday at 3:30 AM
OnCalendar=Sun *-*-* 03:30:00
# Ensures it runs if the server was off during the scheduled time
Persistent=true

[Install]
WantedBy=timers.target
