[Unit]
Description=Extracts 
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/DW_remove_subtitles.sh
Restart=always
RestartSec=10
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
