[Unit]
Description=Run DW_scan_missing_episodes every 24 hours

[Timer]
OnBootSec=20min
OnUnitActiveSec=24h
Unit=DW_scan_missing_episodes.service

[Install]
WantedBy=timers.target
