[Unit]
Description=Looks for unnamed media files
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/DW_unnamed_episodes.sh
RemainAfterExit=no
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
